.home {
    padding: 20px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.home .restaurantPic {
    flex: 1 1 50%;
}

.home .restaurantPic img {
    border-radius: 20px;
    width: 100%;
}

.home .homeDiv {
    flex: 1 1 50%;
}